Simple Linear Regression Phase-1 (Model Creation)
Steps:
1) Data Collection
2) Data preprocessing
3) Input & output split
4) Train & test split
5) Considering, Train set
6) Model creation
7) Considering, Test set
8) Evaluation Metrics
9) Cross check the best model
10) Save the best model

In [ ]:
# importing pandas library as pd & its all functions to perform all tabulation & database related tasks 
import pandas as pd

In [2]:
# calling the read_csv function from pandas library inorder to retrive the database in the tabular form.
# Step 1) Data Collection
# Step 2) Data preprocessing

dataset = pd.read_csv("Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
# Step 3) Input split
# Here the input (YearsExperience) represented as independent variable, inorder to split the input from the database named as dataset
independent = dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
# Step 3) output split
# Here the output (Salary) represented as dependent variable, inorder to split the output from the database named as dataset
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [5]:
# Step 4) Train & test split
# from the file sklearn, opening the folder called model selection inorder to import train, test split function
from sklearn.model_selection import train_test_split

In [7]:
# Inorder to use the train_test_split function, we basically need to pass 4 parameters like, input,output,test size & random state & 
# stored into 4 variables, so that which can be used in further functions
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.10,random_state=0)
x_train,x_test,y_train,y_test

(    YearsExperience
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1,
       Salary
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0)

In [9]:
# Step 5) Considering, Train set
# 6) Model creation
# from the file sklearn, opening the folder called linear_model inorder to import Linear Regression function
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
# assigning all the parameters of the linear regression function into a variable called regressor
regressor.fit(x_train,y_train)
# The fit function is responsible for all the calculations of the Simple linear regression, 
# including the formula y=wx+b (w=Weight & b=bia), inorder to find the value of w & b 
# except x, where x will be substituted with the test value(x_test)

LinearRegression()

In [10]:
# From the formula y=wx+b (w=Weight) is determined from the variable called 'coef_'
weight=regressor.coef_
weight

array([[9377.71581254]])

In [13]:
# From the formula y=wx+b (b=bias) is determined from the variable called 'intercept_'
bias=regressor.intercept_
bias

array([26562.39929261])

In [14]:
# step 7) Considering Test set
# For predicting the predicted value from the x_test i.e (independent test set) by assigning a variable called y_predict
y_predict=regressor.predict(x_test)
y_predict

array([[ 40628.97301142],
       [123152.87216178],
       [ 65011.03412402]])

In [16]:
# step 8) Evaluation Metrics
# 9) Cross check the best model

# from the file sklearn, opening the folder called metrics inorder to import r-square(r2_score) function
from sklearn.metrics import r2_score
# Passing dependent test argument & predicted value (y_predict) in the r2_score function
r_score=r2_score(y_test,y_predict)
r_score
# Printed the value of r-square
# if r-square value is nearing 0 then it is poor model &
# if r-square value is nearing 1 then it is good model, Hence this is GOOD model

0.9817404960196033

In [23]:
# Step 10) Save the best model  
# importing the pickle library as pk inorder to save the obtained model as binary format
import pickle as pk
file_name="final_model_obtained.sav"
# Created a pickle file with .sav extension & stored in a variable called file_name

In [19]:
# Storing the model into the pickle file with the help of the dump function by passing the arguments as regressor & 
# open function with file name in write binary mode
pk.dump(regressor,open(file_name,"wb"))

In [22]:
# Obtaining the input from the user
user_data=int(input("enter the year: "))
# For loading the pickle file with the help of the load function by passing the open function with file nmae in read binary mode 
load_file=pk.load(open(file_name,"rb"))
result=load_file.predict([[user_data]])
# Storing the result in variable by providing (dot operator/access operator) to predict the user providing input
result

enter the year: 0

C:\Users\jayac\AppData\Local\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[26562.39929261]])